- if sign_in? && current_user.consumer?
  = simple_form_for social_path, url: social_path  do |f|
    .image-list.row
      - @day_subject.images.each do |image|
        .image.4u
          = image_tag image.url.thumb
          = f.input_field :social_urls, type: :checkbox, id: "image-#{image.id}", name: 'social[urls][]', value: image.url
          %label{for: "image-#{image.id}"} Check to send
    .row.uniform
      %div{class: '12u$'}
        .select-wrapper
          %select#demo-category{name: 'social[service]'}
            %option{value: ''} - Social network -
            - User::SOCIAL_PROVIDERS.each do |provider|
              %option{value: "#{provider.capitalize}Service" }= provider.capitalize
      %div{class: '12u$'}
        .textarea-wrapper
          = f.input_field :message, as: :text, name: 'social[message]', placeholder: 'Enter your message', rows: '1'
      %div{class: '12u$'}
        %ul.actions
          %li
            = f.submit class: 'special', value: 'Send Images'
          %li
            %input{type: 'reset', value: 'Reset'}/
- else
  - @day_subject.images.each do |image|
    = image_tag image.url.thumb
