.header
  %h1
    = @day_subject.title
  = render 'day_subjects/show/actions', day_subject: @day_subject
  .actions
    = link_to edit_day_subject_path(@day_subject) do
      .fa.fa-pencil-square-o Edit
    = link_to day_subject_path(@day_subject), method: :delete, data: { confirm: 'Are you sure?' } do
      .fa.fa-trash-o Delete
%p
  = @day_subject.description
- if signed_in? && current_user.consumer?
  = render 'day_subjects/show/images',       day_subject:  @day_subject
  = render 'day_subjects/show/social_posts', social_posts: @social_posts
- else
  - @day_subject.images.each do |image|
    = image_tag image.url.thumb
