%article.style2
  %span.image
    = image_tag social_post.day_subject_image.url
  = link_to social_post.url, target: '_blank' do
    %h2
      = social_post.message
  = link_to "Author (#{social_post.user.email})", account_user_path(social_post.user.profile), class: 'post-author'
  .post-statistic-info
    - post_statistic_fields(social_post.data).each do |field|
      = field.html_safe
