.row
  .col-xs-12.col-sm-6.col-md-6
    .well.well-sm
      .row
        .col-sm-6.col-md-4
          %img.img-rounded.img-responsive{alt: "", src: "http://placehold.it/380x500"}/
        .col-sm-6.col-md-8
          %h4
            = @user.full_name
          %small
            %cite{title: "San Francisco, USA"}
              = @user.location
              %i.glyphicon.glyphicon-map-marker
          %p
            %i.glyphicon.glyphicon-envelope>
            = @user.email
            %br/
            %i.glyphicon.glyphicon-globe
            = link_to @user.website, @user.website, target: '_blank'
          .btn-group.btn-social
            %button.btn.btn-primary{type: "button"}
              Social
            %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              %span.caret
              %span.sr-only Social
            %ul.dropdown-menu{role: 'menu'}
              - @user.connected_provider_names([:service_name, :url]).each do |name, url|
                %li
                  = link_to url, target: '_blank' do
                    %i{ class: "fa fa-#{name}" }
                    = name
