%section
  %h4 Provisional Statistic
  %ul.icons.statistic-icons
    - User::SOCIAL_PROVIDERS.each do |provider|
      %li
        %a{ href: '#', class: "icon style2 fa-#{provider}" }
          %span.label= provider.capitalize
        .statistic-block
          %span
            = #"Posts: #{posts_total(@statistic, provider)}"
          %span
            = #"Likes: #{likes_total(@statistic, provider)}"
