!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Catday
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places"}
  %body
    = render 'shared/loader'
    = render 'shared/flash'
    #wrapper
      = render 'layouts/header'
      #main
        .inner
          = yield
      = render 'layouts/footer'
