.header
  %h1
    = @day_subject.title
%p
  = @day_subject.description
  = render 'social_publications/form', day_subject:  @day_subject

  - if current_user.social_posts.exists?
    %h2 My social posts
    = render 'day_subjects/show/consumer/tabs/list'
    = render 'day_subjects/show/consumer/tabs/content', social_posts: @social_posts
